footer {
    background-color: #A072EF;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0);
    font-family: "Oswald", sans-serif;
    font-weight: 500px;
    font-size: 1.25rem;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer li {
    height: 50px;
}

footer a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
footer p {
    text-align: center;
    color: white;
}


footer a:hover {
    color: rgb(0, 0, 0);
}