footer {
    background-color: var(--main-head-color);
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

footer li {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

footer a {
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

footer p {
    text-align: center;
    color: #0f0f0f;
    font-size: 15px;
    padding-bottom: 5px;
}


footer a:hover {
    color: rgb(0, 0, 0);
}