body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main {
    margin: 20px;
    min-height: 100vh;
}


main .publish-container {
    width: 80vw;
    margin: 0 auto;
    /* border: 1px solid var(--main-container-color); */
    background-color: var(--main-container-color);
    box-shadow: 0 2px 3px 4px var(--black-color);
    border-radius: 10px;
}

.publish-container header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 5px 5px 5px;
}

main nav {
    background-color: transparent;
    width: 80vw;
    margin: 0 auto;
}

main nav ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    align-items: center;
}

main nav ul li {
    list-style: none;
    margin: 0 5px;
}

main nav ul li a {
    text-decoration: none;
    color: var(--idk-color);
    font-size: 10px;
}

main nav ul li a:hover {
    color: white;
}

.publish-container .head {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    border-bottom: 3px solid var(--black-color);
    text-align: center;
    padding: 5px;

}

.publish-container .head h2 {
    font-size: 10px;

}

/* ?target the first child to center it */
.publish-container .head> :first-child {
    margin: 0 auto;

}

/* ! ADD BUTTON */
.add-manga button {
    background-color: var(--idk-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: fixed;
    bottom: 25vh;
    right: 50px;
}

.add-manga button i {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.add-manga button i:hover,
.add-manga button:hover {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: scale(1.2);
    transition: 1s;
}

/* ? STAR â­ */
.star-rating {
    color: white;
}

.star-rating .material-symbols-outlined {
    color: yellow;
    font-size: 15px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24,
}

.publish-container header article {
    padding-top: 5px;
    display: flex;
}

/* todo CONTAINER FOR THE BOX */
.publish-container header article .box-container {
    display: flex;
}

/* ! MANGA CONTAINER */
.publish-container header article .manga {
    width: 45vw;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--black-color);
    gap: 5px;
}

.publish-container header article .manga .box {
    display: flex;
    height: 95px;
    width: 100%;
    /* border-bottom: 1px  solid var(--main-container-color); */
}

.publish-container header article .manga .box .rank_image {
    width: 35vw;
}

.publish-container header article .manga .box img {
    width: 60px;
    height: 90px;
    border-radius: 10px;
    object-fit: fill;
}

.publish-container header article .manga .box .chapter_contents {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 65vw;
    overflow: hidden;
}

.publish-container header article .manga .box .chapter_contents a {
    font-size: 13px;
    height: 20vh;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.publish-container header article .manga .box .chapter_contents a:hover {
    color: var(--idk-color);
}

.publish-container header article .manga .box .chapter_contents ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    height: 50vh;
    list-style-type: none;
    justify-content: space-evenly;
    overflow: scroll;
}

.publish-container header article .manga .box .chapter_contents ul li {
    color: var(--second-font-color);
    font-size: 10px;
}


/* ! CREATED ON CONTAINER */

.publish-container header article .box-container .created-on {
    border-right: 1px solid var(--black-color);
    padding-right: 10px;
    padding-left: 10px;

}

.publish-container header article .created-on p {
    color: var(--second-font-color);
    font-size: 10px;
    font-weight: normal;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ! LAST UPDATE ON CONTAINER */

.publish-container header article .box-container .last-update {
    padding-right: 10px;
    padding-left: 10px;
}


.publish-container header article .box-container .last-update p {
    color: var(--second-font-color);
    font-size: 10px;
    font-weight: normal;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: auto;
}

@media screen and (min-width: 600px) {

    main nav ul li a {
        font-size: 12px;
    }

    .publish-container .head h2 {
        font-size: 1rem;
    }

    .publish-container .head> :nth-child(2),
    .publish-container .head> :nth-child(3) {
        font-size: 12px;
    }

    .add-manga button {
        width: 40px;
        height: 40px;
    }

    .add-manga button i {
        font-size: 30px;
    }

    .add-manga button i:hover,
    .add-manga button:hover,
    .add-manga button:hover::after{
        width: 42px;
        height: 42px;
    }

    .publish-container header article .manga .box {
        height: 140px;
        padding: 10px;
        width: 120%;
        border-right: 1px solid var(--black-color);
    }

    .publish-container header article .manga .box img {
        width: 90px;
        height: 130px;
    }
    .publish-container header article .manga {
        border: none;
    }

    .publish-container header article .manga .box .chapter_contents a {
        font-size: 17px;
    }

    .publish-container header article .manga .box .chapter_contents ul li {
        font-size: 15px;
    }

    .star-rating .material-symbols-outlined {
        font-size: 25px;
    }

    .publish-container header article .created-on p {
        font-size: 15px;
    }

    .publish-container header article .box-container .last-update p {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1024px) {
    /* Styles for large screens */

    main {
        margin-bottom: 30px;
    }

    .publish-container {
        padding-bottom: 10px;
    }

    .publish-container header article .manga .box {
        height: 170px;
        padding: 10px;
        width: 120%;
        border-right: 1px solid var(--black-color);
    }

    .publish-container header article .manga .box .rank_image {
        width: 300px;
    }

    .publish-container header article .manga .box img {
        width: 130px;
        height: 160px;
    }

    .publish-container header article .manga .box .chapter_contents a {
        font-size: 20px;
    }

    .publish-container header article .manga .box .chapter_contents ul li {
        font-size: 18px;
    }

    .star-rating .material-symbols-outlined {
        font-size: 30px;
    }

    .publish-container header article .created-on p {
        font-size: 20px;
    }

    .publish-container header article .box-container .last-update p {
        font-size: 20px;
    }

    .add-manga button {
        width: 50px;
        height: 50px;
    }

    .add-manga button i {
        font-size: 40px;
    }


  }